.box__main {
  max-width: 1420px;
  height: 1928px;
  padding: 24px 96px;
  margin: 0 206.5px;
  .safe__net {
    width: 1228px;
    height: 402px;
    background-color: #ededf0;
    display: flex;
    .safe__text {
      // display: flex;
    }
  }
}
