.box__ttl {
  width: 517px;
  height: 26px;
  margin-top: 0 !important;
  margin-bottom: 32px !important;
  font-family: "Zilla Slab Bold", Inter, sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  color: #000;
  display: flex;
  align-items: flex-start;
}

.box__desc {
  width: 517px;
  min-height: 72px;
  max-height: 96px;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  color: #000;
}

.box__link {
  width: 485px;
  height: 20px;
  margin-top: 0px !important;
  margin-bottom: 4px !important;
  font-family: "Inter Bold", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;
  color: #0060df;
  text-decoration: underline;
  &:visited {
    //   podświtlają się wszystkie a nie pojedyńczy link
    // color: #b833e1;
  }
}
