.firefox__place {
  width: 566px;
  height: 46.313px;
  margin-bottom: 10.8px;
  margin-top: 30px;
  display: flex;
  .firefox__logo {
    width: 125px;
    height: 41.313px;
    justify-content: flex-start;
  }
}
