.form__email {
  width: 438px;
  height: 21px;
  padding-bottom: 8px;
  font-size: 0.875rem;
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  display: block;
  color: #5e5e72;
}
