.form__title {
  width: 438px;
  height: 88px;
  margin-bottom: 10px;
  font-family: "Zilla Slab Bold", Inter, sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
