.box__form {
  min-height: 605px;
}

.form__place {
  width: 438px;
  height: 362px;
}

.place__img {
  margin-bottom: 24px !important;
  margin-right: 2rem;
}

.place__newsletter {
  height: 386px;
  margin: 0;
}
