.box__form {
  min-height: 605px;
}

.form__place {
  width: 438px;
  height: 362px;
}

.place__img {
  margin-bottom: 24px !important;
  margin-right: 2rem;
}

.place__newsletter {
  height: 386px;
  margin: 0;
}

.newsletter__details {
  .input__det {
    background-image: url(./../../../../dist/images/form-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5rem auto, 100%;
  }
  .placeholder {
    font-size: 1rem;
    font-family: Inter, sans-serif;
  }
  .format__format {
    height: 73px;
    font-size: 0.875rem;
    font-family: "Inter Bold", sans-serif;
    border: hidden;
    margin: 0;
    padding: 0;
    .format__option {
      padding-right: 8px;
    }
  }
  .format__privacy {
    height: 48px;
    margin-bottom: 20px;
    font-size: 0.875rem;
    font-family: "Inter Bold", sans-serif;
    padding-right: 8px;
    .privacy__safe {
      color: #0060df;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
