.footer_sections {
  width: 1228px;
  height: 176px;
  padding-bottom: 48px;
  border-bottom: 1px solid #42425a;
  display: flex;
  .section {
    display: flex;
  }
}
.section:first-child {
  width: 271px;
  height: 168px;
  padding-right: 24px;
  margin-bottom: 8px;
}
